VITE_SUPABASE_URL=https://epcgbfogzqumjybibwiz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwY2diZm9nenF1bWp5Ymlid2l6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2MjYxMzQsImV4cCI6MjA5MTIwMjEzNH0.V5QLc-rMb6jsYQHx9IuTvCEszXhZPAMD1mQgh294B7c
